.hamburger{
    /* margin-right: 30px; */
    display:none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  .navLink{
    text-decoration: none;
    font-family: 'Trade Winds', cursive;  
    font-size: 1.6rem;
    font-weight: 400;
    color: #3e3e41;
    cursor: pointer;
  }

  .navLink-signIn{
    text-decoration: none;
    font-family: 'Trade Winds', cursive;  
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
  }

  .hover-menu-burger{
    text-align: center;
    background-color: rgb(0, 217, 255);
    height:50px;
  }

  .hover-menu-signIn-burger{
    text-align: center;
    background-color: rgb(0, 110, 141);
    height:50px;
  }

  .hover-menu-signIn-burger:hover{
    background-color: rgb(95, 95, 97);
    color: white;
  }

  .hover-menu-burger:hover{
      background-color: rgb(95, 95, 97);
      color: white;
  }

@media only screen and (max-width: 767px) {
  
    .navMenu {
        position: absolute;
        left: -100%;
        top: 13rem;
        flex-direction: column;
        background-color: transparent;
        /* background-color: #c8d3e9; */
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .navMenu.active {
        left: 0;
    }

  
    .navItem {
        /* margin: 2.5rem 0; */
        padding-top: 14px;
    }
  
    .hamburger {
        display: block;
        cursor: pointer;
    }
  
    .hamburger.active.bar:nth-child(2) {
        opacity: 0;
    }
  
    .hamburger.active.bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active.bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
  
  }