@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@font-face { /*deklarasi font sendiri(bukan google font) agar bisa dikenali css dan dipake*/
  font-family: "Font Genshin";
  src: url('./genshin.ttf'); /*taro file ttf nya di public dan tulis baris kode ini untuk pick up*/
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  height:100%;
  width:100%;
  background: rgb(246,240,240);
  background: linear-gradient(13deg, rgba(246,240,240,1) 10%, rgba(218,244,255,0.9890567050890976) 51%);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
